---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "bootstrap";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

//innku colors
$light-grey: #c6c5c3;
$almost-white: #FCFCFC;
$dark-grey: #4d4d4d;
$red: #ea6570;
$grey: #797874;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  background-color: $almost-white ;
}

.navbar-aling {
  float: right;

  @media screen and (max-width: 750px) {
    float: left;
    width: 100%;
  }
}

.logo {
  width: 125px;
}

.divider {
  background-color: $red;
  margin: 30px auto;
  height: 5px;
  position: relative;
  width: 60px;
}

// Index content
.welcome-screen {
  background: url(../img/home/back-innku.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  .title {
    position: relative;
    top: 35%;

    @media screen and (max-width: 480px) {
      top: 28%;
    }

    //iPhone 5 & 5S
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
      top: 21%;
    }
    //iPhone 6
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
      top: 27%;
    }
    //iPhone 6 Plus
    @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
      top: 30%;
    }

    h1, h2 {
      color: $almost-white;
      text-align: center;
      text-shadow: 1px 1px 10px #000000;
    }

    h1 {
      font-size: 40px;
      @media screen and (max-width: 480px) {
        font-size: 25px;
      }
    }

    h2 {
      font-size: 22px;
      @media screen and (max-width: 480px) {
        font-size: 22px;
      }
    }
  }

  .divider {
    background-color: $red;
    margin: 30px auto;
    height: 5px;
    position: relative;
    width: 60px;
  }

  .arrow {
    margin-top:14vh;
    display: block;
    position: relative;
    text-align: center;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &:hover{
      opacity: 0.5;
    }

    img{
      width: 60px;
      height: 60px;
      @media screen and (max-width 480px) {
        margin-top:5vh;
        width: 40px;
        height: 40px;
      }
    }
  }

}
//Imágenes de fondo para proyectos
.jetty {
  background: url(../img/home/back-jetty.jpg) no-repeat;
}

.lunch-break {
  background: url(../img/home/back-lunch-break.jpg) no-repeat;
}

.briq {
  background: url(../img/home/back-briq.png) no-repeat;
}

.disculpe-doctor {
  background: url(../img/home/back-ddr.jpg) no-repeat;
}

.reserbus {
  background: url(../img/home/reservamos-2.jpg) no-repeat;
}

.aventones {
  background: url(../img/home/back-aventones.jpg) no-repeat;
}

.rides {
  background: url(../img/home/back-rides.jpg) no-repeat;
}

.rutanet {
  background: url(../img/home/back-rutanet.jpg) no-repeat;
}

.cerouno {
  background: url(../img/home/back-cerouno.png) no-repeat;
}

.innku-index-project-list {
  list-style: none;
}

.innku-index-project {
  height: 100vh;
  width: 100vw;
  @media screen and (max-width: 767px) {
    height: auto;
  }
}

.innku-index-project-title {
  min-height: 40vh;
  @media screen and (max-width: 480px) {
    min-height: 25vh;
  }

  .innku-index-project-title__padding-top {
    padding-top: 15vh;
    @media screen and (max-width: 992px) {
      padding-top: 35%;
    }
    @media screen and (max-width: 480px) {
      padding-top: 20%;
    }

    //iPhone 5 & 5S
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
      padding-top: 27px;
    }
    //iPhone 6
    @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
      padding-top: 40px;
    }
    //iPhone 6 Plus
    @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
      padding-top: 47px;
    }

    h2 {
      color: $almost-white;
      font-size: 40px;
      line-height: 50px;
      text-transform: normal;
      text-shadow: 1px 1px 10px #000000;
      @media screen and (max-width: 992px) {
        font-size: 30px;
        line-height: normal;
      }
      @media screen and (max-width: 480px) {
        font-size: 22px;
        line-height: normal;
      }
    }
  }
}

.innku-index-project-image__background {
  background-size: cover;
  background-position: center;
}

.innku-index-project-info {
  background-color: $almost-white;
  min-height: 60vh;
  @media screen and (max-width: 767px) {
    height: auto;
    margin-bottom: 30px;
  }

  div {
    padding-top: 3%;

    img {
      margin-bottom: 10px;
      width: 20%;
      @media screen and (max-width: 992px) {
        width: 40%;
      }
    }

    p {
      color: $dark-grey;
      font-size: 1.05em;
      margin-bottom: 30px;

      @media screen and (max-width: 480px) {
        font-size: .8em;
        line-height: 150%;
        margin-bottom: 10px;
      }
    }

    a {
      color: $almost-white;
      margin-right: 20px;

      @media screen and (max-width: 480px) {
        margin-bottom: 7px;
      }
    }

    .btn-innku {
      color: $almost-white;
      background-color: $red;
      border-color: darken( $red, 10% );
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

      //iPhone 5 & 5S
      @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
        margin-bottom: 7px;
      }
      //iPhone 6
      @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
        margin-bottom: 7px;
      }
      //iPhone 6 Plus
      @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
        margin-bottom: 7px;
      }

    }

    .btn-innku:hover, .btn-innku:active {
      color: $almost-white;
      background-color: darken( $red, 10% );
      border-color: darken( $red, 10% );
    }
  }

}

// Section
.innku-section-title {
  margin: 13rem 0 10rem 0;
  text-align: center;
  @media screen and (max-width: 750px) {
    margin: 15rem 0 2rem 0;
  }

  h1{
    @media screen and (max-width: 750px) {
      font-size: 2.3rem;
    }
  }
}

.innku-section-title_acerca{
  margin-bottom: 0em;
}

.innku-title-divisor {
  border-top: 5px solid $red;
  margin-top: 7rem;
  @media screen and (max-width: 750px) {
    margin-top: 10rem;
  }
}

.innku-projects-nav {
  bottom: 0;
  margin-right: 10px;
  position: fixed;
  right: 0;
  top: 40%;
  transform: translateY(-80px);

  .navbar {
    border-radius: 0px!important;

    .nav-pills > li > a {
      border-radius: 0px!important;
    }
  }

  .innku-inside-projects-nav {
    display: inline-block;
    border: 0px!important;

    .navbar-collapse {
      padding-left: 0px;
      padding-right: 0px;
    }

    ul {
      margin-left: 0px;

      li.active > a {
        background: lighten($grey-color, 20%);
      }
    }

    .innku-icon {
      width: 28px;
    }
  }
}

//Site footer
.innku-footer {
  margin: 10rem 0;

  h3 {
    color: $dark-grey;
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    color: $dark-grey;
  }

  a {
    color: $dark-grey;
    text-decoration: none;
  }

  a:hover, a:active {
    color: $dark-grey;
    text-decoration: underline;
  }
}

.innku-footer-index {
  margin: 0 0 10rem 0;

  h3 {
    color: $dark-grey;
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    color: $dark-grey;
  }

  a {
    color: $dark-grey;
    text-decoration: none;
  }

  a:hover, a:active {
    color: $dark-grey;
    text-decoration: underline;
  }
}

.innku-footer-icon-block {
  img {
    width: 32px;
    margin-right: 5px;
  }

  span {
    margin-top: 7px;
    position: absolute;
  }
}

.innku-footer-icon {
  width: 32px;
  margin-right: 5px;

  .upper-line {
    fill: #F9AAB4;
  }

  .background-color {
    fill:#EA6570;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }

  .front-color {
    fill: none;
    stroke: $almost-white;
    stroke-width: 4;
    stroke-linejoin:round;
    stroke-miterlimit:10;
  }
}

.innku-footer-icon-block:hover {
  .background-color {
    fill: darken( $red, 10% );
  }
}

.innku-footer-divider{
  background-color: $red;
  margin: 0 auto 60px auto;
  height: 5px;
  position: relative;
  width: 60px;
}

//Equipo
.innku-section-team {
  margin-bottom: 50px;

  ul{
    list-style: none;
    /*col-md-push-4 col-lg-push-4*/
  }
  @media screen and (max-width: 770px) {
    margin-bottom: 0px;

    li:last-child {
      left: 0%;
    }
  }
}

.innku-section-team-member {
  margin-bottom: 50px;
}

.innku-section-team-member figure {
  background: #000000;
  cursor: pointer;
  float: left;
  overflow: hidden;
  position: relative;
  margin: 0%;
  text-align: center;

  @media screen and (max-width: 770px) {
    margin-bottom: 30px;
    margin-left: 25%;
  }

  @media screen and (max-width: 500px) {
    margin-left: 13%;
  }

  @media screen and (max-width: 400px) {
    margin-left: 0%;
  }
}

.innku-seccion a {
  color: $red;
}

.innku-seccion ul {
  list-style: none;
}

.innku-section-content strong {
  color: $red;
}

.innku-section-team-member figure img {
  display: block;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  position: relative;
}

.innku-section-team-member figure figcaption::before,
.innku-section-team-member figure figcaption::after {
  pointer-events: none;
}

.innku-section-team-member figure figcaption,
.innku-section-team-member figure figcaption > a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.innku-section-team-member figure figcaption > a {
  font-size: 0;
  opacity: 0;
  text-indent: 200%;
  white-space: nowrap;
  z-index: 1000;
}

.innku-section-team-member figure h2 {
  font-weight: 300;
  font-size: 25px;
  text-shadow: 0px 0px 10px #000000;
}

.innku-section-team-member figure h2,
.innku-section-team-member figure p {
  margin: 0;
}

.innku-section-team-member figure p {
  font-size: 68.5%;
  letter-spacing: 1px;

  @media screen and (max-width: 400px) {
    line-height: 1.2;
  }
}

.innku-section-team-member figure figcaption {
  color: #fff;
  font-size: 1.1em;
  padding: 1.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  @media screen and (max-width: 400px) {
    padding-top: 5em;
  }
}

.innku-section-team-member figure figcaption:hover {
  @media screen and (max-width: 400px) {
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.innku-section-team-member figure.effect-oscar img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.innku-section-team-member figure.effect-oscar h2 {
  margin: 15% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,450%,0);
  transform: translate3d(0,450%,0);

  @media screen and (max-width: 991px) {
    margin: 80px 0 10px 0;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;

    @media screen and (max-width: 400px) {
      margin: 40px 0 10px 0;
    }
  }
}

innku-section-team-member figure.effect-oscar h2:hover {
  margin: 2% 0 10px 0;

  @media screen and (max-width: 400px) {
      margin: 0% 0 10px 0;
    }
}

.innku-section-team-member figure.effect-oscar figcaption::before,
.innku-section-team-member figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.innku-section-team-member figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.innku-section-team-member figure.effect-oscar:hover figcaption::before,
.innku-section-team-member figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.innku-section-team-member figure.effect-oscar:hover img {
  opacity: 0.4;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.innku-section-content {
  margin-bottom: 40px;
}

.innku-section-content a {
  color: $red;
}

a.mute{
  color: #777777;
}

.innku-section-block__margin {
  margin-bottom: 40px;
}

.innku-content-divisor {
  border-top: 5px solid $red;
  margin-bottom: 3rem;
  margin-top: 3rem;

  @media screen and (max-width: 750px) {
    margin-top: 10rem;
  }
}

.innku-section-testimony h2 {
  margin: 30px 0 40px 0;
}

.innku-section-testimony ul {
  list-style: none;
  margin-left: 0;
}

.innku-section-testimony li {
  margin-bottom: 20px;
}

.innku-section-testimony p {
  color: black;
}

.innku-section-testimony blockquote {
  border-left: 2px solid $red;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0;
  margin-bottom: 60px;
}

.innku-section-testimony img {
  @media screen and (max-width: 750px) {
    width: 70%;
    margin: 0 15% 30px 15%;
  }
}

.innku-section-testimony__font-styles p {
  color: lighten($text-color, 40%);
  font-style: italic;
  font-weight: 300;
}

.innku-section-content-element__color a {
  color: $text-color;
  text-decoration: underline;
}

.innku-section-contact__margin {
  margin-bottom: 20px;
}

.innku-section-contact__margin img {
  margin-top: 5px;
  width: 80%;
}

.contact-title{
  margin-bottom: 8px;
}
