---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "bootstrap";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

//innku colors
$light-grey: #c6c5c3;
$almost-white: #fdfdfd;
$dark-grey: #4d4d4d;
$red: #ea6570;
$grey: #797874;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.btn-innku {
  color: $almost-white;
  background-color: $red;
  border-color: darken( $red, 10% );
}

.btn-innku:hover, .btn-innku:active {
  color: $almost-white;
  background-color: darken( $red, 10% );
  border-color: darken( $red, 10% );
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

.navbar-aling{
  float: right;

  @media screen and (max-width: 750px) {
    float: left;
    width: 100%;
  }
}

.logo {
  width: 125px;
}

.innku-title {
  margin: 20rem 0;
  text-align: center;

  @media screen and (max-width: 750px) {
    margin: 15rem 0 2rem 0;
  }

  h1{
    text-transform: uppercase;

    @media screen and (max-width: 750px) {
      font-size: 2.3rem;
    }
  }

}

.innku-title-divisor {
  border-top: 5px solid $red;
  margin-top: 14rem;

  @media screen and (max-width: 750px) {
    margin-top: 10rem;
  }
}

.innku-project {
  padding-top: 10rem;
  position: relative;

  .innku-project-frame {
    border: 5px solid $light-grey;
    height: 39rem;
    margin-top: 10rem;
    position: absolute;

    @media screen and (max-width: 1200px) {
      height: 29.4rem;
      margin-top: 12rem;
    }

    @media screen and (max-width: 992px) {
      height: 21rem;
    }

    @media screen and (max-width: 768px) {
      height: 21rem;
    }

    @media screen and (max-width: 750px) {
      border: none;
    }
  }

  .innku-project-logo {
    background: $almost-white;
    margin-top: 3.2rem;
  }

  h2 {
    color: $dark-grey;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;
    text-transform: uppercase;

    span {
      color: $red;
    }

    @media screen and (max-width: 750px) {
      font-size: 2rem;
    }
  }

  .innku-project-divisor {
    border-top: 5px solid $dark-grey;
    margin: 2rem 0 3rem 15px;
  }

  p {
    color: $grey;
  }

  .innku-project-button-group {
    margin-top: 3rem;
    text-align: center;

    a {
      color: $almost-white;
    }

    a:nth-child(2) {
      margin-left: 1rem;
    }
  }
}

.innku-projects-nav {
  bottom: 0;
  margin-right: 15px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-80px);

  .innku-inside-projects-nav {
    display: inline-block;

    .navbar-collapse {
      padding-left: 0px;
      padding-right: 0px;
    }

    ul {
      margin-left: 0px;

      li.active > a {
        background: $light-grey;
      }
    }

    .innku-icon {
      width: 28px;
    }
  }

}

footer {
  margin: 10rem 0;

  h3 {
    color: $dark-grey;
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    color: $dark-grey;
  }

  .footer-icon {
    img {
      width: 32px;
      margin-right: 5px;
    }

    span {
      margin-top: 4px;
      position: absolute;
    }
  }

  .footer-icon-extra {
    display: block;
    float: left;
    margin-right: 5px;
    padding-bottom: 70px;
    width: 32px;

    img {
      width: 32px;
      margin-right: 5px;
    }
  }

  .footer-sm {
    @media screen and (max-width: 992px) {
      height: 32vh;
    }

    @media screen and (max-width: 768px) {
      height: 14vh;
    }

    @media screen and (max-width: 750px) {
      height: 24vh;
    }
  }

  .footer-sm-extra-margin {
    @media screen and (max-width: 992px) {
      margin-left: 37px;
    }

    @media screen and (max-width: 768px) {
      margin-left: 37px;
    }

    @media screen and (max-width: 750px) {
      margin-left: 37px;
    }

  }
}

.team{
  margin-bottom: 50px;

  @media screen and (max-width: 770px) {
    margin-bottom: 0px;
  }
}

.member figure {
  background: #000000;
  cursor: pointer;
  float: left;
  height: 273px;
  overflow: hidden;
  position: relative;
  margin: 0%;
  text-align: center;

  @media screen and (max-width: 1210px) {
    height: 230px;
  }

  @media screen and (max-width: 770px) {
    height: 273px;
    margin-bottom: 30px;
    margin-left: 25%;
  }

  @media screen and (max-width: 500px) {
    margin-left: 13%;
  }

  @media screen and (max-width: 400px) {
    margin-left: 0%;
    height: 230px;
  }

}

.member figure img {
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.member figure figcaption::before,
.member figure figcaption::after {
  pointer-events: none;
}

.member figure figcaption,
.member figure figcaption > a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.member figure figcaption > a {
  font-size: 0;
  opacity: 0;
  text-indent: 200%;
  white-space: nowrap;
  z-index: 1000;
}

.member figure h2 {
  font-weight: 300;
  font-size: 25px;
  text-shadow: 0px 0px 10px #000000;
  word-spacing: -0.15em;

  span{
    font-weight: 800;
  }
}

.member figure h2,
.member figure p {
  margin: 0;
}

.member figure p {
  font-size: 68.5%;
  letter-spacing: 1px;

  @media screen and (max-width: 400px) {
    line-height: 1.2;
  }

}

.member figure figcaption {
  color: #fff;
  font-size: 1.1em;
  padding: 1.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.member figure.effect-oscar img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.member figure.effect-oscar h2 {
  margin: 15% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,450%,0);
  transform: translate3d(0,450%,0);

  @media screen and (max-width: 400px) {
    margin: 7% 0 10px 0;
  }
}

.member figure.effect-oscar figcaption::before,
.member figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.member figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.member figure.effect-oscar:hover figcaption::before,
.member figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.member figure.effect-oscar:hover img {
  opacity: 0.4;
  -webkit-filter: blur(5px) grayscale(100%);
  filter: blur(5px) grayscale(100%);
}

.contact{
  .redes{
    margin-top: 50px;
    margin-bottom: 50px;

    a{
      color: $red;
      text-decoration: none;

      &:hover{
        color: lighten($grey-color, 20%);
      }
    }

    .divider{
      color: lighten($red, 20%);
      margin: 0 10px;
    }
  }
}

.home{

  .section_innku{
    background: url(../img/home/back-innku.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    .title{
      color: white;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      top: 40%;

      h1{
        @media screen and (max-width: 480px) {
          font-size: 20px;
        }
      }

    }

    .divider{
      background-color: $red;
      margin: 0 auto;
      height: 5px;
      position: relative;
      top: 50px;
      width: 60px;
    }

    .arrow{
      text-align: center;
      position: relative;
      top: 80%;

      @media screen and (max-width: 992px) {
        top: 65%;
      }

      @media screen and (max-width 480px) {
        top: 90%;
      }

      img{
        width: 60px;
        height: 60px;

        @media screen and (max-width 480px) {
          width: 40px;
          height: 40px;
        }
      }
    }

  }

  .section{
    height: 100vh;
    width: 100%;

    .info-top{
      height: 65vh;
      width: 100%;

      @media screen and (max-width: 480px) {
        height: 35vh;
      }

      .info_top_content{
        padding-top: 20%;

        @media screen and (max-width: 992px) {
          padding-top: 35%;
        }

        @media screen and (max-width: 480px) {
          padding-top: 20%;
        }

        h1{
          color: white;
          text-transform: uppercase;
          width: 70%;

          @media screen and (max-width: 992px) {
            font-size: 30px;
            width: 90%;
          }

          @media screen and (max-width: 480px) {
            font-size: 16px;
            width: 100%;
          }

        }
      }

    }

    .info{
      background-color: white;
      height: 35vh;
      width: 100%;

      @media screen and (max-width: 480px) {
        height: 65vh;
      }

        .info_content{
          padding-top: 3%;

          img{
            margin-bottom: 10px;
            width: 20%;

            @media screen and (max-width: 992px) {
              width: 40%;
            }
          }

          p{
            color: $dark-grey;
            font-size: 1.05em;
            margin-bottom: 30px;

            @media screen and (max-width: 480px) {
              font-size: .8em;
              line-height: 150%;
              margin-bottom: 10px;
            }
          }

          a{
            color: white;
            margin-right: 20px;

            @media screen and (max-width: 480px) {
              margin-bottom: 7px;
            }
          }
        }

    }

  }

  .reserbus{
    background: url(../img/home/back-reserbus.jpg) no-repeat;
    background-size: cover;

    @media screen and (max-width: 992px) {
      background-position: center;
    }
  }

  .rutanet{
    background: url(../img/home/back-rutanet.jpg) no-repeat;
    background-size: cover;

    @media screen and (max-width: 992px) {
      background-position: center;
    }
  }

  .disculpe_dr{
    background: url(../img/home/back-ddr.jpg) no-repeat;
    background-size: cover;

    @media screen and (max-width: 992px) {
      background-position: center;
    }
  }

  .aventones{
    background: url(../img/home/back-aventones.jpg) no-repeat;
    background-size: cover;

    @media screen and (max-width: 992px) {
      background-position: center;
    }
  }

}