---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "bootstrap";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

//innku colors
$light-grey: #c6c5c3;
$almost-white: #fdfdfd;
$dark-grey: #4d4d4d;
$red: #ea6570;
$grey: #797874;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

.navbar-aling {
  float: right;

  @media screen and (max-width: 750px) {
    float: left;
    width: 100%;
  }
}

.logo {
  width: 125px;
}

// Index content
.welcome-screen {
  background: url(../img/home/back-innku.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  .title {
    position: relative;
    top: 35%;

    h1, h2 {
      color: white;
      text-transform: uppercase;
      text-align: center;

      @media screen and (max-width: 480px) {
        font-size: 20px;
      }
    }
  }

  .divider {
    background-color: $red;
    margin: 30px auto;
    height: 5px;
    position: relative;
    width: 60px;
  }

  .arrow {
    margin-top: 20px;
    display: block;
    position: relative;
    text-align: center;

    img{
      width: 60px;
      height: 60px;

      @media screen and (max-width 480px) {
        width: 40px;
        height: 40px;
      }
    }
  }

}

.reserbus {
  background: url(../img/home/back-reserbus.jpg) no-repeat;
}

.rutanet {
  background: url(../img/home/back-rutanet.jpg) no-repeat;
}

.disculpe_dr {
  background: url(../img/home/back-ddr.jpg) no-repeat;
}

.aventones {
  background: url(../img/home/back-aventones.jpg) no-repeat;
}

.rides {
  background: url(../img/home/back-rides.jpg) no-repeat;
}

.briq {
  background: url(../img/home/back-briq.jpg) no-repeat;
}

.lunch-break {
  background: url(../img/home/back-lunch-break.jpg) no-repeat;
}

.innku-index-project {
  height: 100vh;
  width: 100vw;
}

.innku-index-project-title {
  height: 65vh;
  @media screen and (max-width: 480px) {
    height: 35vh;
  }

  div {
    padding-top: 35vh;
    @media screen and (max-width: 992px) {
      padding-top: 35%;
    }
    @media screen and (max-width: 480px) {
      padding-top: 20%;
    }

    h2 {
      color: white;
      font-size: 40px;
      line-height: 50px;
      text-transform: normal;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
      @media screen and (max-width: 992px) {
        font-size: 30px;
        line-height: normal;
      }
      @media screen and (max-width: 480px) {
        font-size: 16px;
        line-height: normal;
      }
    }
  }
}

.innku-index-project-image__background {
  background-size: cover;
  background-position: center;
}

.innku-index-project-info {
  background-color: white;
  height: 35vh;
  @media screen and (max-width: 480px) {
    height: 65vh;
  }

  div {
    padding-top: 3%;

    img {
      margin-bottom: 10px;
      width: 20%;
      @media screen and (max-width: 992px) {
        width: 40%;
      }
    }

    p {
      color: $dark-grey;
      font-size: 1.05em;
      margin-bottom: 30px;

      @media screen and (max-width: 480px) {
        font-size: .8em;
        line-height: 150%;
        margin-bottom: 10px;
      }
    }

    a {
      color: white;
      margin-right: 20px;

      @media screen and (max-width: 480px) {
        margin-bottom: 7px;
      }
    }

    .btn-innku {
      color: $almost-white;
      background-color: $red;
      border-color: darken( $red, 10% );
    }

    .btn-innku:hover, .btn-innku:active {
      color: $almost-white;
      background-color: darken( $red, 10% );
      border-color: darken( $red, 10% );
    }
  }

}

// Section
.innku-title {
  margin: 20rem 0;
  text-align: center;

  @media screen and (max-width: 750px) {
    margin: 15rem 0 2rem 0;
  }

  h1{
    text-transform: uppercase;

    @media screen and (max-width: 750px) {
      font-size: 2.3rem;
    }
  }

}

.innku-title-divisor {
  border-top: 5px solid $red;
  margin-top: 14rem;

  @media screen and (max-width: 750px) {
    margin-top: 10rem;
  }
}

.innku-projects-nav {
  bottom: 0;
  margin-right: 10px;
  position: fixed;
  right: 0;
  top: 40%;
  transform: translateY(-80px);

  .navbar {
    border-radius: 0px!important;

    .nav-pills > li > a {
      border-radius: 0px!important;
    }
  }

  .innku-inside-projects-nav {
    display: inline-block;
    border: 0px!important;

    .navbar-collapse {
      padding-left: 0px;
      padding-right: 0px;
    }

    ul {
      margin-left: 0px;

      li.active > a {
        background: lighten($grey-color, 20%);
      }
    }

    .innku-icon {
      width: 28px;
    }
  }

}

//Site footer
.innku-footer {
  margin: 10rem 0;

  h3 {
    color: $dark-grey;
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    color: $dark-grey;
  }
}

.innku-footer-block__mobile-height {
  @media screen and (max-width: 992px) {
    height: 32vh;
  }

  @media screen and (max-width: 768px) {
    height: 14vh;
  }

  @media screen and (max-width: 750px) {
    height: 24vh;
  }

  @media screen and (max-width: 480px) {
    height: 14vh;
  }
}

.innku-footer-block__mobile-margin {
  @media screen and (max-width: 992px) {
    margin-left: 37px;
  }

  @media screen and (max-width: 768px) {
    margin-left: 37px;
  }

  @media screen and (max-width: 750px) {
    margin-left: 37px;
  }
}

.innku-footer-icon-block {
  img {
    width: 32px;
    margin-right: 5px;
  }

  span {
    margin-top: 4px;
    position: absolute;
  }
}

.innku-footer-icon-block__extra-padding {
  display: block;
  float: left;
  margin-right: 5px;
  padding-bottom: 70px;
  width: 32px;

  img {
    width: 32px;
    margin-right: 5px;
  }
}

//Equipo
.team{
  margin-bottom: 50px;

  @media screen and (max-width: 770px) {
    margin-bottom: 0px;
  }
}

.member {
  margin-bottom: 50px;
}

.member figure {
  background: #000000;
  cursor: pointer;
  float: left;
  height: 273px;
  overflow: hidden;
  position: relative;
  margin: 0%;
  text-align: center;

  @media screen and (max-width: 1210px) {
    height: 230px;
  }

  @media screen and (max-width: 770px) {
    height: 273px;
    margin-bottom: 30px;
    margin-left: 25%;
  }

  @media screen and (max-width: 500px) {
    margin-left: 13%;
  }

  @media screen and (max-width: 400px) {
    margin-left: 0%;
    height: 230px;
  }

}

.member figure img {
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  position: relative;
  //-webkit-filter: grayscale(100%);
  //filter: grayscale(100%);
}

.member figure figcaption::before,
.member figure figcaption::after {
  pointer-events: none;
}

.member figure figcaption,
.member figure figcaption > a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.member figure figcaption > a {
  font-size: 0;
  opacity: 0;
  text-indent: 200%;
  white-space: nowrap;
  z-index: 1000;
}

.member figure h2 {
  font-weight: 300;
  font-size: 25px;
  text-shadow: 0px 0px 10px #000000;
  word-spacing: -0.15em;

  span{
    font-weight: 800;
  }
}

.member figure h2,
.member figure p {
  margin: 0;
}

.member figure p {
  font-size: 68.5%;
  letter-spacing: 1px;

  @media screen and (max-width: 400px) {
    line-height: 1.2;
  }

}

.member figure figcaption {
  color: #fff;
  font-size: 1.1em;
  padding: 1.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.member figure.effect-oscar img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.member figure.effect-oscar h2 {
  margin: 15% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,450%,0);
  transform: translate3d(0,450%,0);

  @media screen and (max-width: 400px) {
    margin: 7% 0 10px 0;
  }
}

.member figure.effect-oscar figcaption::before,
.member figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.member figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.member figure.effect-oscar:hover figcaption::before,
.member figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.member figure.effect-oscar:hover img {
  opacity: 0.4;
  -webkit-filter: blur(5px) grayscale(100%);
  filter: blur(5px) grayscale(100%);
}

.contact{
  .redes{
    margin-top: 50px;
    margin-bottom: 50px;

    a{
      color: $red;
      text-decoration: none;

      &:hover{
        color: lighten($grey-color, 20%);
      }
    }

    .divider{
      color: lighten($red, 20%);
      margin: 0 10px;
    }
  }
}
