<footer class="innku-footer">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10">
      <h3>Contáctanos</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <p class="footer-icon"><img src="img/mail.png"><span>info@innku.com</span></p>
          <p class="footer-icon"><img src="img/phone.png"><span>+52 (81) 2092 0548</span></p>
        </div>

        <div class="col-lg-4 col-md-4 footer-sm">
          <p class="footer-icon-extra"><img src="img/map.png"></p>
          <p class="footer-icon"><span><strong>Monterrey, N.L.</strong><br />
            Juan Ignacio Ramón 801, Int. 210,<br />
            Col. Centro Monterrey, C.P. 64000.</span>
          </p>
        </div>

        <div class="col-lg-4 col-md-4 footer-sm-extra-margin">
          <p><strong>México, D.F.</strong><br />
            Insurgentes Sur 318,<br />
            Col. Roma Norte, C.P. 06700.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
