<footer class="innku-footer" data-behavior="innku-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h3>Contáctanos</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-3">
        <p class="innku-footer-icon-block"><img src="{{site.baseurl}}/img/mail.png"><span>info@innku.com</span></p>
        <p class="innku-footer-icon-block"><img src="{{site.baseurl}}/img/phone.png"><span>+52 (81) 2092 0548</span></p>
      </div>
      <div class="col-md-4 innku-footer-block__mobile-height">
        <p class="innku-footer-icon-block__extra-padding"><img src="{{site.baseurl}}/img/map.png"></p>
        <p class="innku-footer-icon-block"><span><strong>Monterrey, N.L.</strong><br />
          Juan Ignacio Ramón 801, Int. 210,<br />
          Col. Centro Monterrey, C.P. 64000.</span>
        </p>
      </div>
      <div class="col-md-3 innku-footer-block__mobile-margin">
        <p><strong>México, D.F.</strong><br />
          Insurgentes Sur 318,<br />
          Col. Roma Norte, C.P. 06700.
        </p>
      </div>
    </div>
  </div>
</footer>
