<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="{{ site.url }}/"><img src="{{ site.url }}/img/logo.svg" /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-aling">
        <li class="{% if page.url == '/index.html' %}active{% endif%}"><a href="{{ site.url }}/">Nuestras empresas</a></li>
        <li class="{% if page.url == '/acerca-de.html' %}active{% endif%}"><a href="{{ site.url }}/acerca-de.html" target="_self">Acerca de</a></li -->
        <li class="{% if page.url == '/equipo.html' %}active{% endif%}"><a href="{{ site.url }}/equipo.html" target="_self">Equipo</a></li>
        <!-- li class="{% if page.url == '/blog.html' %}active{% endif%}"><a href="{{ site.url }}/blog.html" target="_self">Blog</a></li -->
        <li class="{% if page.url == '/contacto.html' %}active{% endif%}"><a href="{{ site.url }}/contacto.html" target="_self">Contacto</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
