<div id="innku-projects" class="innku-projects-nav hidden-sm hidden-xs">
  <nav class="navbar navbar-default innku-inside-projects-nav">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav nav-pills nav-stacked">
          {% for projects in site.data.projects %}
            <li><a href="#{{ projects.id }}"><img class="innku-icon" src="{{ projects.icon }}" /></a></li>
          {% endfor %}
        </ul>
      </div><!--/.nav-collapse -->
  </nav>
</div>
