<div id="innku-projects" class="innku-projects-nav hidden-sm hidden-xs">
  <nav class="navbar navbar-default innku-inside-projects-nav">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- a class="navbar-brand" href="#">Project name</a -->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#reserbus"><img class="innku-icon" src="img/icon-reserbus.svg" /></a></li>
          <li><a href="#rutanet"><img class="innku-icon" src="img/icon-rutanet.svg" /></a></li>
          <li><a href="#disculpe-doctor"><img class="innku-icon" src="img/icon-disculpe-doctor.svg" /></a></li>
          <li><a href="#aventones"><img class="innku-icon" src="img/icon-aventones.svg" /></a></li>
        </ul>
      </div><!--/.nav-collapse -->
  </nav>
</div>
