<script type="text/javascript">
  jQuery(document).ready(function(){
    $('body').scrollspy({ target: '#innku-projects' }); // Add scrollspy to <body>

    $("#innku-projects a").on('click', function(event){ // Add smooth scrolling to all links inside a navbar
      event.preventDefault(); // Prevent default anchor click behavior - Si se llama a este método, no se activará la acción predeterminada del evento.
      var hash = this.hash; // Store hash (#)
      $('html, body').animate({ // Using jQuery's animate() method to add smooth page scroll - The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area (the speed of the animation)
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash; // Add hash (#) to URL when done scrolling (default click behavior)
      });
    });

    var checkScroll = function() {
      if ($('.innku-footer')[0]) {
        var el = $('.innku-footer');
        var top_of_object = el.offset().top;
        var bottom_of_object = el.offset().top + el.outerHeight();
        var top_of_window = $(window).scrollTop();
        var bottom_of_window = $(window).scrollTop() + $(window).height();

        if (top_of_window <= bottom_of_object && bottom_of_window >= top_of_object) {
          $('.innku-projects-nav').fadeOut();
        } else {
          $('.innku-projects-nav').fadeIn();
        }
      }
    }

    $(window).on('scroll', function() {checkScroll()});

  })
</script>
